@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

@layer base {
  @font-face {
    font-family: "Manrope";
    src: url("/fonts/manrope.thin.otf") format("opentype");
    font-weight: 200;
    font-style: normal;
  }
}

.manrope-thin {
  font-family: "Manrope", sans-serif;
  font-weight: 200;
}

@layer base {
  @font-face {
    font-family: "Manrope2";
    src: url("/fonts/manrope.light.otf") format("opentype");
    font-weight: 300;
    font-style: normal;
  }
}

.manrope-light {
  font-family: "Manrope2", sans-serif;
  font-weight: 300;
}

@layer base {
  @font-face {
    font-family: "Manrope3";
    src: url("/fonts/manrope.regular.otf") format("opentype");
    font-weight: 400;
    font-style: normal;
  }
}

.manrope-regular {
  font-family: "Manrope3", sans-serif;
  font-weight: 400;
}

.manrope-regular-italic {
  font-family: "Manrope3", sans-serif;
  font-weight: 400;
  font-style: italic;
}

@layer base {
  @font-face {
    font-family: "Manrope4";
    src: url("/fonts/manrope.medium.otf") format("opentype");
    font-weight: 500;
    font-style: normal;
  }
}

.manrope-medium {
  font-family: "Manrope4", sans-serif;
  font-weight: 500;
}
